body {
    background: url("../images/bg.jpg") fixed 50% 20%;
    color: #fff;
    font-family: 'Varela Round', sans-serif;
}
.brand-logo img{
  width: 60%;
  margin: 0 auto;
  display: block;
  margin-top: 12em;
  opacity: 0.7;

}
header {
    background:rgba(100,100,100,0.1);
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-icons-collection {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    margin: 0 auto;
}
.header-icon {
    margin: 0.5em 0.5em 0 0 ;
    color: rgba(255,255,255,0.6);
    font-size: 36px;
}
.header-logo img {
    height: 40px;
    margin: 10px;
}
.header-button {
    padding: 5px 10px 5px 10px;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.body-content {
    display: flex;
    flex-direction: column;
    position: relative;
}
#modal {
    display: none;
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#whatsapp {
    font-size: 20px;
    display: none;
    align-items: center;
    position: absolute;
    top: 54px;
}
.book-appointment{
  margin-top: 1em;

}
.book-appointment .btn{
  background: rgba(255,255,255, 0.8)
}
.servicesMenu {
    display: flex;
    margin-top: 13em;
}
.gender {
    flex: 1;
    font-size: 50px;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 1em 1em 5em;
}
.gender:nth-child(odd) {
    border-right: 1px solid rgba(150,150,150,1  );
    background: rgba(0,0,255,0.2);
}
.gender:nth-child(even) {
    background: rgba(255, 0, 255, 0.2);
}
.salon-services {
    border: 1px solid rgba(100,100,100,0.1);
    border-radius: 10px;
    font-size: 15px;
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
}
.salon-services-list {
    display: flex;
    justify-content: space-between;
}
.service-group-title {
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.service-group-subtitle {
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.salon-services-span {
    font-size: 12px;
    margin-right: 10px;
}
.salon-services-amount {
    margin-left: 10px;
}
#google-form {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    background: #0f1314;
    display: none;
    flex-direction: column;
    padding: 30px;
}

.form-elements {
    display: flex;
    flex-direction: column;
}
#text-input {
    border: 2px solid black;
}
#tel-input {
    border: 2px solid black;
}
.google-form-close {
}
.google-form-close-button {
    padding: 5px 10px 5px 10px;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    background: #0d0d0d;
}

/* footer styles */
footer {
    padding: 20px;
    background: rgba(255,255,255,1);
    color: #000;
}
.address {
    display: flex;
    justify-content: space-around;
}
.footer-icons {
    display: flex;
    list-style: none;
    padding: 0;
}
.footer-icons li:first-child{
  padding-left: 0
}
.footer-icons li{
  padding:0.3em;
}



/* media queries */
@media screen and (max-width: 500px) {
    .title-heading h1 {
        font-size: 100px;
        margin-bottom: 5px;
        margin-top: 50px
    }
    .title-subheading h2 {
        font-size: 20px;
        margin-top: 5px;
        font-family: cursive;
    }
    .header-content {
        display: flex;
        align-items: center;
    }
    #whatsapp {
        
    }
    .gender {
        padding: 0;
    }
    .service-group-title {
        font-size: 25px;
    }
    body {
        background: black;
    }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
    .title-heading h1 {
        font-size: 180px;
        margin-bottom: 5px;
        margin-top: 50px
    }
     #whatsapp {
        position: absolute;
        top: 54px;
    }
}

@media screen and (max-width:855px) {
    .servicesMenu {
        display: flex;
        flex-direction: column;
    }
    .gender:nth-child(odd) {
        border-right: none;
    }
    .address {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .address-text, .map {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
