/* Contains the body styles */
body {
    background: url("../images/bg.jpg") fixed 50% 20%;
    color: #fff;
    font-family: 'Varela Round', sans-serif;
}
/* ------------------------- */


/* Header and header icon styles  */
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-icons-collection {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    margin: 0 auto;
}
.header-icon {
    margin: 0.5em 0.5em 0 0 ;
    color: rgba(255,255,255,0.6);
    font-size: 36px;
}
#whatsapp {
    font-size: 20px;
    display: none;
    align-items: center;
    position: absolute;
    top: 54px;
}
/*------------------------------------*/



/*------------------------------------*/
/*Body content contains the style for the main section excluding header and footer*/
.body-content {
    display: flex;
    flex-direction: column;
    position: relative;
}

/*-------------------------------------------------*/
/* Styles for the Zique brand image and book an appointment button */
.brand-logo img{
  width: 60%;
  margin: 0 auto;
  display: block;
  margin-top: 12em;
  opacity: 0.7;

}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book-appointment{
  margin-top: 1em;

}
.book-appointment .btn{
  background: rgba(255,255,255, 0.8)
}
/*-------------------------------------------------*/

/*-----------------------------------------*/
/*Starting of the Services menu section container for the 3 sections.*/
.servicesMenu {
    margin-top: 13em;
    position: relative;
}
.gender {
    font-size: 50px;
    padding-top: 0.9em;
    padding-bottom: 5em;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.gender:nth-child(1) {
    border-bottom: 1px solid rgba(150,150,150,1);
    border-top: 1px solid rgba(150,150,150,1);
    background: rgba(0,0,255,0.2);
}
.gender:nth-child(2) {
    border-left: 1px solid rgba(150,150,150,1);
    border-right: 1px solid rgba(150,150,150,1);
    background: rgba(255, 0, 255, 0.2);
    border-top: 1px solid rgba(150,150,150,1);
    border-bottom: 1px solid rgba(150,150,150,1);    
}
.gender:nth-child(3) {
    background: rgba(255, 255, 0, 0.2);
    border-bottom: 1px solid rgba(150,150,150,1);
    border-top: 1px solid rgba(150,150,150,1);
}
.gender-icon {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.salon-services {
    border: 1px solid rgba(100,100,100,0.1);
    font-size: 15px;
    padding: 0 65px 0 60px;
    margin-top: 100px;
    overflow: hidden;
}
.salon-services-name {
    padding-left: 0;
}
.salon-services-list {
    text-shadow: 0px 0px 6px #000;
    padding-left: 5px;
}
.service-group-title {
    font-size: 30px;
    text-align: center;
}
.service-group-subtitle {
    font-size: 25px;
    padding-left: 0;
}
.salon-services-span {
    font-size: 12px;
    margin-right: 10px;
    text-shadow: 0px 0px 6px #000;
}
.salon-services-amount {
    padding-right: 0;
    text-align: right;
    position: relative;
}
.rupee-amount {
    /* position: absolute;
    right: 0; */
}
.rupee-amount:before {
    margin-right: 4px;
    font-family: 'FontAwesome';
    content : '\f156';
}
.outdoor-charges {
    margin-top: 10px;
}
.conditions {
    margin-top: 80px;
}
/*--------End of sevices list styles-----------*/

/*-------------------------------------------------*/
/*Book an appointment overlay google form submit styles*/
#google-form {
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0); 
    background: #0f1314;
    display: none;
    flex-direction: column; 
    padding: 30px;
    width: 40%;
}
.form-elements {
    display: flex;
    flex-direction: column;
}
#text-input {
    border: 2px solid black;
}
#tel-input {
    border: 2px solid black;
}
.google-form-close {
}
.google-form-close-button {
    padding: 5px 10px 5px 10px;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    background: #0d0d0d;
}
/*----------End of Book an appointment overlay styles-------------*/

/*-------------------------------------------------*/
/* footer styles */
footer {
    padding: 20px;
    background: #110e0e;
    color: rgba(255,255,255,1);
}
.address {
    display: flex;
    justify-content: space-around;
}
.footer-icons {
    display: flex;
    list-style: none;
    padding: 0;
}
.footer-icons li:first-child{
  padding-left: 0
}
.footer-icons li{
  padding:0.3em;
}
.footer-icons-collection {
    display: flex;
    position: relative;
    margin: 0 auto;
}
#whatsapp-footer-display {
    position: absolute;
    top: 54px;
    font-size: 20px;
    display: none;
    left: 0;
}
.footer-icons {
    margin: 0.5em 0.5em 0 0 ;
    color: #337ab7;
    font-size: 36px;
}
.footer-icons:hover {
    cursor: pointer;
}
/*-----End of Footer styles-----------------------*/


/*-------------------------------------------------*/
/* media queries */
@media screen and (max-width: 576px) {
    .header-content {
        display: flex;
        align-items: center;
    }
    body {
        background: black;
    }
    .salon-services {
        padding: 0 15px 0 15px;
    }
}

@media screen and (max-width: 768px) and (min-width: 577px) {
    .title-heading h1 {
        font-size: 180px;
        margin-bottom: 5px;
        margin-top: 50px
    }
    body {
        background: black;
    }
     #whatsapp {
        position: absolute;
        top: 54px;
    }
    .salon-services {
        padding: 0 15px 0 15px;
    }
}

@media screen and (max-width: 992px) {
    .gender:nth-child(2) {
        border-left: none;
        border-right: none;
    }
    .address {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .address-text, .map {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #google-form {
        width: 75%;
    }
}
/*---------------End of the Styles page-----------------------------*/